.sticky-nav
   overflow: hidden
   background-color: $color-alt-dark
   +position(relative)
   border-bottom: 1px solid $color-main

   .nav-container
      padding: 1rem 1rem .5rem

      .nav-flex
         +display(flex)
         +flex-wrap(wrap)
         +align-items(center)

         .banner
            +flex(1 1 auto)
            height: 50px

            img
               +size(auto 100%)

         .social
            .social-item
               +display(block)
               height: 30px
               float: left
               margin-left: 15px
               background-color: $color-main
               border: 1px solid $color-main

               svg
                  +size(auto 100%)

         .nav-menu-flexitem-flex
            +flex(0 1 100%)
            +display(flex)
            +justify-content(center)
            margin: 1.8rem 10% 0px
            
            .nav-item
               +display(block)
               margin: 0px .5rem
               border-bottom: 1px solid transparent
                              
@media screen and (min-width: 768px)
   .sticky-nav
      z-index: 2
      +position(absolute, 0px 0px null 0px)
      background-color: rgba(black, .2)
      +transition(0.8s $ease-out-expo)
      
      &.unsticky
         +position(fixed)
         background-color: $color-alt
   
      .nav-container
         padding: .5rem 1rem

         .nav-flex
            .social
               padding-right: 40px
               border-right: 1px solid $color-main
               
               .social-item
                  height: 35px

            .nav-menu-flexitem-flex
               +flex-basis(400px)
               +justify-content(space-between)
               padding-top: 5px
               padding-left: 40px
               margin: 0px
                     
               .nav-item
                  margin: 0px
                  &:hover
                     border-bottom-color: $color-main

               