#hero
   .hero-container
      max-width: 950px
         
      .hero-blurb
         text-align: center
         font:
            size: 1.5rem
            style: italic
     
@media scree and (min-width: 768px)
   #hero
      .hero-container
         .hero-blurb
            font:
               size: 2rem