<footer id='footer'>
   <div class='container footer-container'>
      <div class='footer-flex'>
         <div class='footer-flexitem about'>
            <h3 class='title'>About</h3>
            
            <p>Lorem ipsum dolor sit amet, modo imperdiet complectitur ea sit, ei sed viris sensibus. No probo conceptam rationibus mei. Brute nostrud vituperata qui te.</p>         
         </div>
         
         <div class='footer-flexitem contact'>
            <h3 class='title'>Contact</h3>
            
            <p>Tacube, <br/>
               45 Persil Lane<br />
               4118 Bloomingotn<br />
               USA<br />
               Phone: <a href='tel:{{site.data.settings.phone}}'>{{site.data.settings.phone}}</a><br />
               E-mail: <a href='mailto:{{site.data.settings.email}}'>{{site.data.settings.email}}</a>
            </p>
         </div>
         
         <div class='footer-flexitem service'>
            <h3 class='title'>Services</h3>
            
            <ul>
               <li>Countryside Tour</li>
               <li>Package Tour</li>
               <li>Island Hopping Tour</li>
               <li>Car Rental</li>
               <li>Hotel Transfer</li>
            </ul>
         </div>
         
         <div class='footer-flexitem schedule'>
            <h3 class='title'>Schedule</h3>
            
            <p>Monday:8:00am - 5:00pm<br/>
               Tuesday:8:00am - 5:00pm<br/>
               Wednesday:8:00am - 5:00pm<br/>
               Thursday:8:00am - 5:00pm<br/>
               Friday:8:00am - 5:00pm<br/>
               Saturday:8:00am - 5:00pm<br/>
               Sunday:8:00am - 5:00pm<br/>
            </p>
         </div>
      </div>
   </div>
      
   <div class='copyright'>
      <div class='container copyright-container'>
         <span class='smaller'>© Copyright 2017 <a href='{{site.url}}{{site.baseurl}}'>{{site.data.settings.theme}}</a> . Designed by <a href='/'>AEDesign</a></span>
      </div>
   </div>
</footer>

<script src='{{site.baseurl}}/assets/js/jquery-1.9.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/function.js'></script>
</body>
</html>