<!DOCTYPE html>
<html lang='{{site.data.settings.lang}}'>
<head>
   <meta charset='utf-8'>
   <title>Tacube</title>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <link rel='stylesheet' href='{{site.baseurl}}/assets/css/main.css' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Khand:300,400' rel='stylesheet'>
   <link href='shortcut icon' href='{{site.baseurl}}/{{site.data.settings.favicon}}'>
</head>
<body>   
<header>
   <nav class='sticky-nav'>
      <div class='container nav-container'>
         <div class='nav-flex'>
            <div class='banner'>
               <img src='{{site.baseurl}}/assets/img/{{site.data.settings.banner}}'>         
            </div>

            <div class='social'>
               {% for item in site.data.settings.social %}               
               <a class='social-item' href='{{item.link}}'>
                  {% include icons/{{item.title}}.html %}
               </a>
               {% endfor %}
            </div>

            <div class='nav-menu-flexitem-flex'>
               {% for item in site.data.settings.nav %}
               <a class='nav-item {{item.title}}' href='{{item.url}}'>{{item.title}}</a>
               {% endfor %}
            </div>
         </div>
      </div>  
   </nav>   
</header>